<div class="container">
  <h1>All our Flats</h1>
  <%# if @flats.empty? %>

  <%# else %>
    <p> All <%= @flats.length %> flats</p>
  <%# end %>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <% @flats.each do |flat| %>
          <div class="flat-card-title">
            <h2><%= link_to flat.name, flat_path(flat) %></h2>
          </div>
          <p><%= flat.address %></p>
          <div class="flex">
            <i>*</i>
            <span><%= flat.number_of_guests %></span>
          </div>
          <div class="flex">
            <i>$</i>
            <%= flat.price_per_night %>
          </div>
          <div class="card-flat-action">
            <%= link_to 'More infos', flat_path(flat) %>
            <%= link_to edit_flat_path(flat) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to 'Remove', flat_path(flat),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'ms-3 text-danger'
            %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>