<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb791</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <div class="container-fluid">
        <%= link_to "Simple Air B'n'B", flats_path %>
        <%= link_to 'ADD', new_flat_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-2"  %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
